
.alert {
    position: absolute;
    width: 100%;
    z-index: 10;
    /*-webkit-animation: fadeOut 1s 2s forwards;*/
    /*animation: fadeOut 1s 2s forwards;*/
}

html,
body {
    height: 100%;
}

body.login {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #f7f7f9;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .checkbox {
    font-weight: 400;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.test-paper-list .list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

#submit {
    color: rgba(255, 255, 255, 0.6);
}

#submit:hover,
#submit:focus {
    color: #fff;
}

#questionContent .list-group .list-group-item.checked {
    background-color: #78C2AD;
}