<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="load">
    <script type="application/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="application/javascript"  src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="application/javascript"  src="/static/js/template-web.js"></script>
    <script type="application/javascript"  src="/static/js/module/question-type.js"></script>
    <script type="application/javascript"  src="/static/js/test-lib.js"></script>
</div>
</body>
</html>